# SPDX-FileCopyrightText: 2024 Daniel Sampliner <samplinerD@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

# shellcheck shell=bash

watch_file \
	flakelight/checks/git-hooks.nix \
	flakelight/devShell.nix \
	flakelight/devshellModules/sopsYAML.nix \
	flakelight/formatter.nix

use flake
