# SPDX-FileCopyrightText: 2024 Daniel Sampliner <samplinerD@gmail.com>
#
# SPDX-License-Identifier: GLWTPL

# managed by pre-commit-hooks.nix
.pre-commit-config.yaml

# managed by sopsYAML.nix
.sops.yaml

*.qcow2
.direnv
result
